{{ define "body_classes" }}page-services-list{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="intro-flow">
      {{ if .Params.intro_image }}
        <img
          alt="{{ .Title }}"
          class="intro-image-flow{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}"
        />
      {{ end }}

      {{ .Content }}
    </div>
  </div>
</div>
<div class="container pt-6 pb-6">
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 mb-3">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}