{{/* Prüfen, ob überhaupt ein intro_image definiert ist */}}
{{ if .Params.intro_image }}
<div class="col-12 col-md-5 col-lg-6">
  
  <img
    alt="{{ .Title }}"
    src="{{ .Params.intro_image | relURL }}"

    {{/* CSS-Klassen dynamisch hinzufügen */}}
    class="intro-image
      {{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}
      {{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
    
    {{/* Inline-Stile dynamisch je nach Front-Matter-Werten */}}
    style="
      {{ with .Params.intro_image_absolute_offset }}inset: {{ . }};{{ end }}
      {{ with .Params.intro_image_width }}width: {{ . }};{{ end }}
      {{ with .Params.intro_image_max_width }}max-width: {{ . }};{{ end }}
      {{ with .Params.intro_image_margin }}margin: {{ . }};{{ end }}"
  />

</div>
{{ end }}
